{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h1 class="text-white my-5">About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque adipisci magnam deserunt cum sint. Unde recusandae labore aliquam quo sequi, similique error asperiores aliquid corrupti animi quidem rem nesciunt! Repellat!
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum quibusdam consequatur itaque commodi accusamus laudantium quod laborum minima hic possimus atque aliquid, totam provident minus inventore harum voluptate deleniti pariatur. Ab blanditiis laudantium, animi quidem laboriosam similique tenetur beatae modi maiores obcaecati doloribus explicabo odit fugiat nam. Expedita, quae dolor.</p>

</div>

{% endblock content %}