{% extends 'photos/base.html'%}
{% load static %}

{% block title %}
<title>Add a Photo</title>
{% endblock title %}

{% block content %}
<div class="col-md-4 m-5">
    <a href="{% url 'gallery' %}" class="btn btn-dark my-3"> Go Back</a>
    <div class="card">
        <form action="" method = 'POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="m-3 form-group">
                <label class="form-label text-dark">Description: </label>
                <input required name= "description" class="form-control" type="text" placeholder="Enter a description">
            </div>
            <div class="m-3 form-group">
                <label class="form-label text-dark">Select a Category : </label>
                <select name= "category" class="form-control">
                    <option value="none"> Select a Category...</option>
                    {% for category in categories %}
                    <option value="{{category.id}}"> {{category.name}} </option>
                    {% endfor %}
                </select>
            </div>

            <div class="m-3 form-group">
                <label class="form-label text-dark">Create a New Category: </label>
                <input name= "category_new" class="form-control" type="text" placeholder="Enter a New Category">
            </div>

            <div class="m-3 form-group">
                <label class="form-label text-dark">Upload Image: </label>
                <input required name="image" class="form-control" type="file">
            </div>

            <button type="submit" class="btn btn-primary m-3"> Submit </button>
        </form>
    </div>
</div>
{% endblock content %}